[submodule "3rdparty/xkeyboard-config"]
	path = 3rdparty/xkeyboard-config
	url = https://github.com/Open-Typer/xkeyboard-config
[submodule "3rdparty/libxkbcommon"]
	path = 3rdparty/libxkbcommon
	url = https://github.com/Open-Typer/libxkbcommon
