#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Open-Typer
Exec=open-typer %U
Terminal=false
Type=Application
Icon=open-typer
Comment=Typewriting tutor application
Categories=Education;
