#!/usr/bin/make -f

build: export QT_SELECT = qt5
build:
	lrelease *.pro
	dh $@

build-arch: export QT_SELECT = qt5
build-arch:
	lrelease *.pro
	dh $@

%:
	if [ -d .git ]; then \
	echo `git describe --tags --abbrev=0` > version; \
	echo `git rev-parse --short HEAD` > revision; \
	fi
	dh $@
